doctype html
if config.reactApp
    include react_azure/index.pug
else 
    html(lang="en")
        head
            title="Azure Functions"
            include _base/head.pug
        body(style='background-color: inherit')
            include _base/body.pug